---
import { type BlogPost } from "../../types/component-types";

import BlogContainer from "../../components/BlogContainer.astro";

import Layout from "../../layouts/Layout.astro";
import { loadQuery } from "../../sanity/lib/load-query";

const { data: blogPosts } = await loadQuery<BlogPost[]>({
  query: `*[_type == "post"]{
  mainImage{asset->},
  title,
  slug,
  subheading,
  publishedAt
}`,
});
---

<Layout
  title={"Cabin 10| Cabin 10 Blog"}
  description="Discover the latest about Cabin 10, Strawberry and Pinecrest Lake."
>
  <div class:list={[]}>
    <section>
      <BlogContainer blogPosts={blogPosts} />
    </section>
  </div>
</Layout>
