---
import LinkButton from "./LinkButton.astro";
import { LODGIFY_URL } from "../consts";
---

<div class:list={["max-page-width"]}>
  <div
    class:list={[
      "content-container",
      "page-padding-narrow",
      "content-padding-normal",
      "max-content-width",
    ]}
  >
    <p class:list={["eyebrow-text"]}>
      A Private Retreat in an Area Full of Adventure
    </p>
    <h2 class:list={["cormorant-regular"]}>
      Book your mountain adventure today
    </h2>
    <h6>
      Relax in the vintage charm and comfort of this river view mountain retreat
      minutes from Pinecrest lake and Dodge Ridge. A family friendly vacation
      location with something for everyone.
    </h6>
    <div class="button-container">
      <LinkButton
        externalLink={true}
        link={LODGIFY_URL}
        buttonStyle="secondary"
      >
        <span> Book Today</span>
      </LinkButton>
    </div>
  </div>
</div>
<style>
  .content-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 16px;
    background-color: var(--light-green);
  }

  .button-container {
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 100%;
  }

  @media screen and (min-width: 789px) {
    .content-container {
      gap: 32px;
    }

    .button-container {
      width: 100%;
    }
  }
</style>
