---
import { Icon } from "astro-icon/components";
import LinkButton from "./LinkButton.astro";
---

<div class:list={["max-page-width", "main-container"]}>
  <div class:list={["page-padding", "max-content-width"]}>
    <a href="/">
      <Icon
        class:list={["margin-bottom"]}
        name="c10-full-logo-white"
        id="c10-logo"
        width={168}
        height={64}
      />
    </a>
    <div class:list={["content-container"]}>
      <div class="upper-container">
        <div class:list={["sub-container", "links-container"]}>
          <a href="/">Home</a>
          <a href="/about">About</a>
          <a href="/contact">Contact Us</a>
          <a href="/services">Things to do</a>
          <a href="/services">Blog</a>
        </div>
        <div class="button-container">
          <LinkButton link="#contact" buttonStyle="primary">
            Book Today
          </LinkButton>
          <div>
            <p>Booking With Airbnb?</p>

            <LinkButton
              link="https://www.airbnb.com/slink/4wW5PCQ4"
              buttonStyle="primary"
              externalLink={true}
            >
              Book with Airbnb
            </LinkButton>
          </div>
        </div>
      </div>
      <div class:list={["sub-container", "connect-container"]}>
        <div class:list={["bottom-container"]}>
          <div>
            <div>
              <p>Let's Connect</p>
            </div>
            <div class:list={["logos-container"]}>
              <div class:list={["logo-container"]}>
                <a href="https://linkedin.com/in/dylan-botuli-42a711141">
                  <Icon class:list={["contact-logo"]} name="phone" id="" /></a
                >
                <p class="eyebrow-text">Call Us Today</p>
              </div>
              <div class:list={["logo-container"]}>
                <a class="eyebrow-text" href="mailto: info@canaryeg.com"
                  ><Icon class:list={["contact-logo"]} name="mail" id="" />
                </a>
                <a
                  class="eyebrow-text"
                  href="mailto: strawberrycabin10@gmail.com"
                  >strawberrycabin10@gmail.com</a
                >
              </div>
            </div>
          </div>
          <div class:list={["sub-container", "footnote-sub-container"]}>
            <p class:list={["eyebrow-text"]}>Privacy Policy | Cookie Policy</p>
            <p class:list={["eyebrow-text"]}>Copyright © 2025</p>
          </div>
        </div>
      </div>
    </div>

    <style>
      .main-container {
        background-color: var(--dark-green);
        padding-top: 16px;
        padding-bottom: 16px;
      }
      .main-container > * {
        color: white;
      }
      .content-container {
        display: flex;
        flex-direction: column;
        gap: 32px;
      }

      .button-container {
        display: flex;
        flex-direction: column;
        gap: 32px;
      }

      .connect-container {
        border-top: 1px solid white;
        padding-top: 16px;
        display: flex;
        gap: 8px;
      }

      .sub-container {
        display: flex;
        flex-direction: column;
      }

      .logos-container {
        display: flex;
        flex-direction: column;
        gap: 16px;
        padding-top: 16px;
      }

      .logo-container {
        display: flex;
        gap: 16px;
        align-items: end;
      }

      .links-container {
        display: flex;
        gap: 16px;
      }

      .bottom-container {
        display: flex;
        flex-direction: column;
        gap: 32px;
      }

      .bold {
        font-weight: bold;
      }

      .margin-bottom {
        margin-bottom: 16px;
      }

      .contact-logo {
        font-size: 2em;
      }

      .upper-container {
        display: flex;
        flex-direction: column;
        gap: 16px;
      }

      #c10-logo {
        width: 100px;
      }

      @media screen and (min-width: 789px) {
        .main-container {
          padding-top: 32px;
          padding-bottom: 32px;
        }

        .contact-logo {
          font-size: 3em;
        }

        .logos-container {
          display: flex;
          flex-direction: column;
          gap: 8px;
        }
        .logo-container {
          display: flex;
          align-items: center;
          gap: 16px;
        }

        .links-container {
          flex-direction: column;
        }

        .bottom-container {
          display: flex;
          flex-direction: row-reverse;
          justify-content: space-between;
          align-items: end;
        }

        .upper-container {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: end;
        }
      }

      @media screen and (min-width: 1200px) {
        #c10-logo {
          width: 164px;
        }
        .button-container {
          flex-direction: row;
          align-items: end;
        }

        .links-container {
          flex-direction: row;
        }
      }
    </style>
  </div>
</div>
