---
// AVOID ANY SORT OF INJECTIONS/ VALIDATE THIS SHIT

import Button from "./Button.astro";

const currentDateString = new Date().toISOString().slice(0, 19);
---

<div class:list={["container"]}>
  <form class="form">
    <span class:list={["form-item"]}>
      <label for="name"> Name </label>
      <input
        class:list={["form-field"]}
        name="name"
        type="text"
        autocomplete="off"
        required
      />
    </span>

    <span class:list={["form-item"]}>
      <label for="name"> Email </label>
      <input
        class:list={["form-field"]}
        name="email"
        type="email"
        autocomplete="off"
        required
      />
    </span>

    <span class:list={["form-item"]}>
      <label for="special-instructions"> Message </label>
      <textarea
        class:list={["form-field", "text-area"]}
        name="special-instructions"
        autocomplete="off"
        required></textarea>
    </span>

    <span class:list={["button-field"]}>
      <Button buttonStyle="secondary" submitButton={true} fullWidth={true}>
        Send Message
      </Button>
    </span>
  </form>
</div>

<style>
  .container {
    width: 100%;
  }
  .form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    border: solid 1px lightgray;
    padding: 16px;
    width: 100%;
  }

  .form-item {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  .form-field {
    border: 1px solid lightgray;
    font-family: sans-serif;
    line-height: 140%;
    padding: 4px;
  }

  .button-field {
    width: 100%;
    align-self: center;
  }

  .text-area {
    height: 256px;
  }
</style>
