---

---

<div
  class:list={[
    "page-padding-narrow",
    "main-container",
    "content-padding-large",
  ]}
>
  <h1 class:list={["inter-regular", "white-font"]}>
    Receive a quote from Canary Express today
  </h1>
  <h5 class:list={["inter-regular", "white-font"]}>
    We’ll get to you as soon as possible with a competitive price that works for
    you and your business.
  </h5>
</div>
<style>
  .main-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 32px;
    margin: 0 !important;
    text-align: center;
  }

  .white-font {
    color: white;
    font-weight: normal;
  }
  @media only screen and (min-width: 1199px) {
    .main-container {
      gap: auto;
    }

    h1 {
      line-height: 140%;
    }
  }
</style>
