---
import "../assets/styles.css";
import { Icon } from "astro-icon/components";
import Footer from "../components/Footer.astro";
import NavBar from "../components/NavBar.astro";

interface Props {
  title: string;
  description: string;
}

const { title, description }: Props = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <meta charset="UTF-8" />
    <meta name="robots" content="noindex, nofollow" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
    <title>{title}</title>
  </head>
  <body>
    <main>
      <header>
        <section id="navbar">
          <NavBar ligthBackground={true}>
            <Icon
              slot="black-logo"
              name="c10-normal-logo-black"
              id="cabin10-logo"
            />
          </NavBar>
        </section>
      </header>
      <slot />
      <section id="footer">
        <Footer />
      </section>
    </main>
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }

  #cabin10-logo {
    font-size: 1.5em;
    @media only screen and (min-width: 481px) {
      font-size: 2em;
    }
    @media only screen and (min-width: 789px) {
      font-size: 3em;
    }
  }
</style>
